<!-- Include Header -->
<% include header.ejs %>
<div class="container">

	<!-- if admin, display edit profile button -->
	<% if (admin==true){ %>
	<input id="editprofile-button" type="button" onclick="location.href='/editprofile';" value="Edit Your Profile"/>
	<% } %>

	<div id="blurb"><%= blurb %></div>
	<div id="email"><%= email %></div>
	<div id="user-skills">
		<p><%= username%>'s current skills:</p>
		<% for(var i=0; i<skills.length; i++) {%>
			<div class="skill-row">
				<a href="/search?search=<%= skills[i] %>"><%= skills[i] %></a>
			</div>
		<% } %>
</div>

<!-- Include Footer -->
<% include footer.ejs %>
